* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #444444;
}
fieldset {
    width: 50%;
    border-style: none;
    border-radius: 0.2rem;
  }
  
  legend {
    color: orange !important;
    font-size: 1rem;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    font-size: 1rem ;
  }
  
  a {
    font-size: 1rem;
  }
  
a img {
    height: 3rem;
  }
  

  span {
    font-size: 1rem;
  }

  .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.quiz-link {
  font-size: 1rem;
  text-decoration: none;
  color: #dddddd;
  margin: 2rem;
  width: 100%;
}

.quiz-link:hover {
  color: orange;
}

.quiz-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 50vh;
  max-width: 50vw;
  overflow-y: auto;
}



.Jumbo * {
  font-size: 0.75rem;
  color: #dddddd;
  text-decoration: none;
}

.Jumbo a:hover {
  color: orange;
}

.quiz-mode {
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}

.QuestionBoxMain {
  margin: 0 auto;
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 60vh;
  width: 50%;
  padding-right: 12rem;
}

.MyQuizes {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.MyQuizes div {
  display: flex;
  flex-direction: row;
}

.MyQuizes h1,
h3,
h2 {
  color: orange;
}

.SectionTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.SectionTop ul li, a{
  font-size: 2rem;
}
.FlashQuizArea {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #005080;
  display: flex;
  flex-direction: column;
}


.FlashQuizArea textarea {
  width: 90%;
  text-align: center;
  font-size: 1rem;
}
.hover:hover {
  color: orange !important;
  cursor: pointer;
}

.logo {
  border-top-right-radius: 0.175rem;
  border-bottom-left-radius: 0.175rem;
  margin: 0.4rem;
  border: 0.01rem solid #dddddd;
  float: left;
}

.logo:hover {
  background-color: "orange !important";
  box-shadow: none;
}

.QuestionNumber {
  font-size: 2rem;
  color: orange;
  font-style: italic;
  margin: 1rem;
  width: 100%;
  padding: 1rem;
}

.QuizForm form textarea {
  border-style: none;
  background-color: #dddddd;
  border-radius: 0.2rem;
  width: 100%;
}

.QuizForm form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.QuizForm div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.QuizForm div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.QuizForm h1,
h2 {
  color: #dddddd;
}
button {
  background-color: #005080;
  border-style: none;
  margin: 0.4rem;
  color: #dddddd;
  font-size: 1rem;
}
button:hover {
  color: orange;
  cursor: pointer;
}

 
.QuizForm {
  width: 100%;
  display: flex;
}
.SettingBarClickItem {
    padding: 0.1rem;
}
.SettingBarClickItem:hover {
    background-color: #dddddd !important;
    padding: 0.1rem;
    border-radius: 0.2rem;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.width-100 {
  width: 100%;
}
.center {
  margin: 0 auto;
}







.QuizUi {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.QuizUi div, textarea, form {
  margin: 0 auto;
}

.QuizUi p,  legend {
  color: #dddddd;
}
.QuizUi h3 {
  margin-left: 0.4rem;
  color: #dddddd;
}


